// About Us Section
.about-us-section {
	width: 100%;
	background-color: #f6f6f6;
	margin-bottom: 70px;
	padding-bottom: 30px;


	@include mq($from: phablet) {
	}
	@include mq($from: tablet) {
		padding-bottom: 0;
	}
}

.about-us__container {
	margin-top: 0;
}

.about-us__wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	background-color: #f6f6f6;
	padding-top: 30px;
	padding-bottom: 30px;

	@include mq($from: tablet) {
		flex-direction: row;
		align-items: center;
	}

	@include mq($from: desktop) {
	}
}

.about-us__content {
	flex: 1;
	color: #404044;
	padding: 0 10px;
	background-color: #f6f6f6;
	border-radius: 15px;
	padding-top: 20px;
	padding-bottom: 40px;


	@include mq($from: tablet) {
		width: 50%;
		padding-left: 20px;
	padding-right: 40px;
	padding-top: 30px;
	padding-bottom: 0;
	}

	@include mq($from: tablet-wide) {
		padding-top: 0;
	}
	
}

.about-us__title {
	font-size: 12px;
	font-weight: 600;
	margin-bottom: 20px;
	color: #404044;
	margin-top: 0;
	text-transform: uppercase;

	@include mq($from: phablet) {
		margin-bottom: 25px;
	}

	@include mq($from: tablet) {
		margin-bottom: 30px;
	}

	@include mq($from: desktop) {
		font-size: 12px;
		margin-bottom: 35px;
	}
}

.about-us__title-hello {
	font-size: 35px;
	font-weight: 500;
	margin: 30px 0;
}

.about-us__text {
	font-size: 14px;
	line-height: 1.8;
	color: #404044;
	text-align: justify;


	p {
		position: relative;
		margin-bottom: 15px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	// .about-us__text-item::after {
	// 	content: "";
	// 	position: absolute;
	// 	bottom: 0;
	// 	left: 0;
	// 	width: 100px;
	// 	border-top: 1px #d1a954 solid;
	// }


	@include mq($from: phablet) {
		font-size: 14px;
	}

	@include mq($from: tablet) {
		font-size: 16px;
	}

	@include mq($from: desktop) {
		
	}
}

.about-us-text-span {
	color: #d1a954;
	font-weight: 600;
	font-size: 22px;

	@include mq($from: tablet) {
		font-size: 24px;
	}
}

.about-us__slider-wrapper {
	flex: 1;
	width: 100%;
	min-height: 100px;
	height: 250px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;

	@include mq($from: phablet) {
		min-height: 300px;
		height: 300px;
	}

	@include mq($from: tablet) {
		height: 400px;
		width: 50%;
	}

	@include mq($from: desktop) {
		height: 400px;
	}


	
}

.about-us-swiper {
	width: 100%;
	min-height: 250px;
		height: 250px;
	overflow: hidden;
	position: relative;

	@include mq($from: phablet) {
		min-height: 300px;
		height: 300px;
	}

	@include mq($from: tablet) {
		height: 400px;
	}

	@include mq($from: desktop) {
		height: 400px;
	}

	
}

.about-us-swiper .swiper-wrapper {
	align-items: stretch;
}

.about-us-swiper .swiper-slide {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

// Navigation buttons
.about-us-swiper-button-next,
.about-us-swiper-button-prev {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 50px;
	height: 50px;
	background-color: rgba(255, 255, 255, 0.95);
	border-radius: 50%;
	cursor: pointer;
	z-index: 10;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
	transition: all 0.3s ease;
	color: #404044;

	&::after {
		font-size: 20px;
		font-weight: bold;
	}

	&:hover {
		background-color: #ffffff;
		box-shadow: 0 4px 12px rgba(0, 0, 0, 0.35);
		transform: translateY(-50%) scale(1.1);
	}

	&:active {
		transform: translateY(-50%) scale(0.95);
	}

	@include mq($from: phablet) {
		width: 55px;
		height: 55px;

		&::after {
			font-size: 22px;
		}
	}

	@include mq($from: tablet) {
		width: 60px;
		height: 60px;

		&::after {
			font-size: 24px;
		}
	}

	@include mq($from: desktop) {
		width: 65px;
		height: 65px;

		&::after {
			font-size: 26px;
		}
	}
}

.about-us-swiper-button-prev {
	left: 10px;

	@include mq($from: phablet) {
		left: 15px;
	}

	@include mq($from: tablet) {
		left: 20px;
	}

	@include mq($from: desktop) {
		left: 25px;
	}
}

.about-us-swiper-button-next {
	right: 10px;

	@include mq($from: phablet) {
		right: 15px;
	}

	@include mq($from: tablet) {
		right: 20px;
	}

	@include mq($from: desktop) {
		right: 25px;
	}
}

// Scrollbar
.about-us-swiper-scrollbar {
	position: absolute;
	bottom: 10px;
	width: 80%;
	height: 6px;
	background-color: #d1a954;
	border-radius: 3px;
	z-index: 10;

	.swiper-scrollbar-drag {
		background-color: #d1a954;
		border-radius: 3px;
	}

	@include mq($from: tablet) {
		height: 8px;
		width: 70%;
	}

	@include mq($from: desktop) {
		height: 10px;
		width: 100%;
	}
}

.about-us__slider-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
	pointer-events: none;
	min-height: 100%;
	background-color: #f0f0f0;
	max-width: 100%;
	max-height: 100%;
}

.about-us-swiper .swiper-slide img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}


