.a-header__background {
	z-index: 0;
	height: 100%;
	width: 100%;
	position: absolute;
	background-image: linear-gradient(0deg, rgba(51, 51, 51, 0.6), #292b2c),
 url("../img/services-header.jpg");
	background-position: center;
}
