.breadcrumbs {
  margin-top: 20px;
  margin-bottom: 20px;
  overflow-x: auto; /* Змінено на горизонтальний скрол */
  white-space: nowrap;
  
  /* Для Firefox: колір повзунка та колір фону (прозорий) */
  scrollbar-width: thin;
  scrollbar-color: #d3d3d3 transparent; 
}

/* Для Chrome, Safari та Edge */
.breadcrumbs::-webkit-scrollbar {
  height: 6px; /* Висота горизонтального скролу */
}

.breadcrumbs::-webkit-scrollbar-thumb {
  background-color: #d3d3d3; /* Світло-сірий колір повзунка */
  border-radius: 10px;       /* Закруглення */
}

.breadcrumbs::-webkit-scrollbar-track {
  background: transparent;   /* Фон доріжки залишаємо прозорим */
}

.breadcrumbs__list {
  display: flex;
  padding-bottom: 10px; /* Трохи зменшив відступ, щоб скрол був ближче */
  align-items: center;
  list-style: none;
  letter-spacing: 1.5px;
  color: #0000008e;

  a {
    color: #404044;
  }

  span {
    color: #0000008e;
    font-weight: 600;
    padding-bottom: 3px;
    border-bottom: 2px solid #d1a954;
  }

  
}

/* Інша частина вашого коду без змін... */
.breadcrumbs__item {
  text-align: center;
  font-size: 14px;
  a {
    font-size: 14px;
  }

  &::after {
    content: '/';
    margin: 0 5px;
    font-size: 12px;
  }

  &:last-child::after {
    content: '';
  }

  &:hover a {
    border-bottom: 2px solid #d1a954;
    padding-bottom: 3px;
    }
}