.button {
	position: relative;
	display: block;
	padding: 20px 40px;
	margin: 0 auto;
	border: none;
	text-transform: uppercase;
	background-color: #D1A954;
	color: #ffffff;
	cursor: pointer;
	transition: 0.3s;
	
	&:hover {
		background-color: #b47c48;
	}

	&:active {
		background-color: #6e4b4b;
	}

	@include mq($from: phablet) {
    padding: 30px 50px;
  }
}