.button {
	position: relative;
	display: block;
	padding: 15px 40px;
	border: none;
	text-transform: uppercase;
	background-color: #D1A954;
	color: #ffffff;
	cursor: pointer;
	transition: 0.3s;
	
	&:hover {
		background-color: #b47c48;
	}

	&:active {
		background-color: #6e4b4b;
	}

	@include mq($from: phablet) {
		width: 100%;
   		padding: 20px 50px;
  }

	@include mq($from: tablet) {
		margin: 0;
    margin-top: 20px;
  }

	@include mq($from: tablet-wide) {
  }

}