.c-calculation {
  background-color: #f6f6f6;
}

.c-calculation__wrapper {
  display: flex;
  flex-direction: column;

  @include mq($from: phablet) {
  }

  @include mq($from: tablet) {
    width: auto;
    justify-content: space-between;
    flex-direction: row;
  }
}

.c-calculation__content {
  padding: 20px;
  margin-bottom: 30px;
  background-color: #363839;
  color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;

  @include mq($from: tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0;
  }
}

.c-calculation__block {
  display: flex;
  flex-direction: column;
  @include mq($from: tablet) {
    width: 50%;
    height: 160px;
    align-items: center;
  }
}

.c-calculation__title {
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.c-calculation__block-info {
  display: flex;
}

.c-calculation__text {
  position: relative;
  padding-bottom: 10px;
  font-size: 17px;
  margin: 0;

  @include mq($from: tablet) {
    font-size: 20px;
  }
}

.c-calculation__form-container {
  padding: 40px 20px;
  background-color: rgba(58, 58, 58, 0.26);
  border-radius: 10px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  color: #363839;

  @include mq($from: tablet) {
    width: 43%;
  }
}
