.calc__sheet,
.calc__profile-pipe {
	display: none;
}
.active {
	display: block;
}

.disabled {
	display: none;
}

.metal {
	display: flex;
	justify-content: space-between;
	width: 300px;
	margin-bottom: 20px;
}



label {
	position: relative;
	margin-bottom: 10px;
	width: 100%;
	font-size: 18px;
}

label > input {
	position: absolute;
	width: 30%;
	right: 0;
 }

 .result__box {
	position: relative;
	font-size: 18px;
	margin-top: 20px;
	margin-bottom: 20px;
 }


#mass,
#area,
#mass1,
#area1 {
	position: absolute;
	right: 0;
	top: 0;
	width: 40%;
  height: 20px;
	margin: 0;
  border: 2px solid black;
}

