.calculation {
	position: relative;
	color: #ffffff;
	background-color: #ffffff;
}

.calculation__inner {
	position: relative;
	z-index: 500;
	background-color: #8b8b8b;
	margin: 0 10px;
	padding: 30px 0;
}

.calculation__item {
	position: relative;
}

.calculation__text {
	padding-left: 20px;

	&::after,
	&::before {
		content: "";
		position: absolute;
		left: 0;
		width: 10px;
		height: 2px;
		background-color: #d1a954;
		border-radius: 5px;
	}

	&::after {
		top: 16px;
		transform: rotate(-40deg);
	}

	&::before {
		top: 10px;
		transform: rotate(40deg);
	}
}

.form-textarea {
	padding: 8px 15px;
	border-radius: 3px;

	&:focus {
		outline: none;
	}
}

.calculation__form {
	padding: 40px 20px;
	background-color: rgba(58, 58, 58, 0.26);
	border-radius: 10px;
	
}

.calculation__label {
	margin-top: 20px;
}

.calculation__input-file {
	padding: 0;
	margin-top: 10px;
}

input[type=file]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #363839;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
  opacity: .7;
}
















































// .footer__container {
// 	padding: 20px;
//   margin-top: -100px;

//   @include mq($from: phablet) {
//     margin-top: -80px;
//   }

//   @include mq($from: tablet) {
//     margin-top: -40px;
//   }
// }

// .footer__inner {
//   padding: 30px 20px;
// 	background-color: #d1a954;

//   @include mq($from: tablet) {
//     max-width: 600px;
//     margin: 0 auto;
//   }

//   @include mq($from: tablet-wide) {
//     max-width: 100%;
//   }

//   @include mq($from: desktop) {
//     max-width: 80%;
//   }
// }

// .footer__title {
//   text-align: center;
//   line-height: 1.5;
//   color: #363839;
// 	margin-top: 0;

//   @include mq($from: tablet-wide) {
//     margin-bottom: 40px;
//   }
// }

// .footer__form {
//   position: relative;
//   width: 100%;
//   overflow: hidden;

//   input {
// 		height: 40px;
// 		border: 0px;
// 		border-radius: 5px;
//     margin: 1px;
// 		margin-bottom: 20px;
//     padding: 0 10px;
//     font-size: 16px;

// 		&::placeholder {
// 			font-size: 16px;
// 		}

//     @include mq($from: phablet) {
//       height: 40px;
//       width: 43%;
//     }

//     @include mq($from: tablet) {
//       width: 200px; 
//     }

//     @include mq($from: tablet-wide) {
//       width: 230px; 
//       height: 60px;
//       padding: 0 20px;
//       margin-right: 15px;
      
//     }

//     &:focus {
//       outline: 1px solid #363839;
//     }

//   }

//   @include mq($from: phablet) {
//     display: flex;
//     justify-content: space-between;
//     flex-direction: row;
//     flex-wrap: wrap;
//     max-width: 500px;
//     margin: 0 auto;
//   }

//   @include mq($from: tablet) {
//     justify-content: space-between;
//     flex-direction: column;
//     width: 100%;
//   }

//   @include mq($from: tablet-wide) {
//     max-width: 100%; 
//     flex-direction: row;
//     justify-content: center;
//   }
// }

// .footer__button {
//   width: 100%;
//   margin-top: 10px;
//   background-color: #363839;

//   @include mq($from: tablet) {
//     position: absolute;
//     right: 0;
//     top: 0;
//     height: 104px;
//     width: 230px;
//     margin-top: 0;
//   }

//   @include mq($from: tablet-wide) {
//     position: relative;
//     height: 60px;
//     width: 220px;
//     margin-top: 0;
//     padding: 0;
//   }

//   @include mq($from: desktop) {
//     font-size: 18px;
//   }
// }