.co-container {
  max-width: 1920px;
}

.co-news-page__container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.co-page-card__container {
  background-color: #f6f6f6;
  padding: 8px;
}

.co-page__card {
  position: relative;
  height: 100%;
  width: 100%;
  width: 100%;
  outline: 1px solid transparent;
  font-size: 0;

  img {
    max-height: 100%;
    width: 100%;
  }

  .swiper-button-prev-10 {
    object-fit: scale-down;
  }

  @include mq($from: phablet) {
    float: right;
    width: 47%;
  }

  @include mq($from: tablet-wide) {
    float: right;
    width: 31%;
  }
  @include mq($from: desktop) {
    float: right;
    width: 24%;
  }

  &:hover {
    @include mq($from: tablet-wide) {
      border-color: #959393;
    }
  }
}

.swiper-slide {
  img {
    overflow: hidden;
  }
}

.co-images {
  max-width: 270px;
  margin: 0 auto;
  position: relative;
  outline: 1px solid #000;
  font-size: 0;
  background-color: #f6f6f6;

  .co-photo {
    height: 320px;
    max-height: 550px;
    object-fit: cover;
    object-position: center;

    @include mq($from: phablet) {
      height: 350px;
    }
    @include mq($from: tablet-wide) {
      height: 400px;
    }
  }

  @include mq($from: tablet-wide) {
    max-width: 500px;
  }
}

.co-product__name {
  margin: 0;
  padding-top: 20px;
  font-weight: 600;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: start;
  height: 30px;
  word-spacing: 0;

  @include mq($from: tablet-wide) {
    font-size: 18px;
    justify-content: center;
  }
}

.co-characteristic {
  margin: 0;
  margin-top: 20px;
  line-height: 1;
  font-weight: 600;
  word-spacing: 0;
  font-weight: 500;
}

.co-table {
  margin-top: 10px;
  width: 100%;

  tr {
    font-weight: 400;
    display: flex;
    justify-content: space-between;
  }
  th {
    width: 100%;
    text-align: start;
    font-size: 14px;
    font-weight: 500;
  }
}

.co-info {
  line-height: 1.5;
  font-size: 15px;
  word-spacing: 0;

  @include mq($from: phablet) {
    font-size: 15px;
  }

  @include mq($from: tablet-wide) {
    font-size: 15px;
    line-height: 1.3;
    word-spacing: 3px;
    padding: 0 10px;
  }
}
