.co-news-page__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;

    
}

.co-page__card {
    position: relative;
    width: 47%;
    height: 100%;
    margin: 5px;
    width: 100%;
    border: 1px solid transparent;
    overflow: hidden;
    padding: 10px;
    font-size: 0;
    @media (min-width: 1024px) {
        float: right;
        width: 25%;
    }

    &:hover {
        border-color: #959393;
    }

}


.co-images {
    outline: 2px solid #000;
    font-size: 0;
}

