.footer {
  position: relative;
  z-index: 1;
  margin-top: auto;
  background-color: #363839;

}

.footer__wrapper {
	
}

.footer__container {
	position: relative;
}

.footer__form {
	width: 100%;
	height: auto	;
	background-color: aqua;
}
