.header {
  position: relative;
  height: 880px;

  @include mq($from: phablet) {
    height: 700px;
  }

  @include mq($from: tablet-wide) {
    height: 800px;
  }
}

.index-video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;

  @include mq($from: tablet) {
    object-fit: none;
  }
  @include mq($from: desktop-wide) {
    object-fit: cover;
  }
}

.video-overlay {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0deg, rgba(51, 51, 51, 0.6), #292b2c);
  pointer-events: none; /* Щоб накладання не блокувало кліки по відео */
}

.fullwidth-box.video-background .fullwidth-video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  min-height: 100%;
  min-width: 100%;
  -webkit-transform-style: preserve-3d;
}

.header__container {
  margin: 0 auto;
}

.header__background {
  z-index: 0;
  height: 100%;
  width: 100%;
  // background-attachment: fixed;
  position: absolute;
  background-image: linear-gradient(0deg, rgba(51, 51, 51, 0.6), #292b2c),
    url('../img/lazer.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-product {
  height: 60vh;
  position: relative;
  @include mq($from: tablet-wide) {
    height: 50vw;
  }

  @include mq($from: desktop) {
    height: 33vw;
  }
}

.header__background-product {
  z-index: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(0deg, rgba(51, 51, 51, 0.6), #292b2c),
    url('../img/metal-products.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__background-ag {
  z-index: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(0deg, rgba(51, 51, 51, 0.6), #292b2c),
    url('../img/product-bucket.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__background-fe {
  z-index: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #292b2c;
  display: block;
}

.header__background-fe-overlay {
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(0deg, rgba(51, 51, 51, 0.6), #292b2c);
  pointer-events: none;
}

.header__background-de {
  background-image: linear-gradient(0deg, rgba(51, 51, 51, 0.6), #292b2c),
    url('../img/product-decore-element.jpg');
  background-size: cover;
  background-position: center;
}

.header__background-co {
  background-image: linear-gradient(0deg, rgba(51, 51, 51, 0.6), #292b2c),
    url('../img/product-individual.jpg');
  background-size: cover;
  background-position: center;
}

.a-header__background {
  background-image: linear-gradient(0deg, rgba(51, 51, 51, 0.6), #292b2c),
    url('../img/about-us-header.webp');
}

.header__background-news {
  background-image: linear-gradient(0deg, rgba(51, 51, 51, 0.6), #292b2c),
    url('../img/news.avif');
  background-size: cover;
}

.mp-header__background {
  background-image: linear-gradient(0deg, rgba(51, 51, 51, 0.6), #292b2c),
    url('../img/mechanical-processing.webp');
  background-size: cover;
}

.diagonal-bg {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  background-color: #292b2c;
  display: block;
  pointer-events: auto; // Дозволяємо події для інтерактивності
}

.header-card {
  position: relative;
}