.header {
	background-image: linear-gradient(0deg, rgba(51, 51, 51, 0.85), rgba(51, 51, 51, 0.85)),
 url("../img/lazer.jpg");
	background-position: center;
	background-repeat: no-repeat;
	height: 490px;
}

.header__container {	
	margin: 0 auto;
}