.header__content-title {
	position: relative;
	margin-bottom: 40px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	line-height: 130%;

	&::after {
		content: "";
		position: absolute;
		bottom: -20px;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 50%;
		height: 3px;
		background-color: #ffffff;
		opacity: 0.4;
		border-radius: 50%;
	}
}

.header__content-subtitle {
	font-weight: 500;
	font-size: 22px;
}

.header__content-text {
text-align: center;
line-height: 120%;
margin-bottom: 50px;
}