.header {
	position: relative;
	height: 890px;
	background-image: linear-gradient(0deg, rgba(51, 51, 51, 0.55), rgba(51, 51, 51, 1)),
 url("../img/lazer.jpg");
	background-position: center;
	background-repeat: repeat;

	@include mq($from: phablet) {
		height: 800px;
	}

	@include mq($from: tablet) {
		height: 700px;
	}

	@include mq($from: tablet-wide) {
		height: 800px;
	}

	@include mq($from: desktop) {
		height: 900px;
	}
}

.header__container {	
	margin: 0 auto;

	@include mq($from: tablet-wide) {
		padding-left: 140px;
  }

	@include mq($from: desktop) {
		padding-left: 165px;
		height: 800px;

  }
}