.header__content--container {
  display: flex;
  justify-content: center;
  position: relative;

  @include mq($from: tablet) {
    display: flex;
    justify-content: space-between;
    // min-height: 360px;
    margin-top: 50px;
  }
}

.header__content {
  z-index: 1;
  // background-color: rgba(67, 79, 79, 0.537);
  padding: 0 20px;
  margin-bottom: 30px;
  margin-top: 15vh;

  @include mq($from: tablet) {
    margin-bottom: 0;
    margin-right: 20px;
    margin-top: 0;
  }

  @include mq($from: tablet-wide) {
    width: 65%;
    margin-bottom: 0;
    margin-right: 34px;
    
  }
}

.header__content-product {
  line-height: 1.5;
  max-width: 100%;
  z-index: 1;
}

.header__inner {
  padding: 20px 15px;
  border-radius: 20px;

  @include mq($from: tablet) {
    padding: 40px 20px;
    height: auto;
  }

  @include mq($from: desktop) {
    padding: 40px 30px;
  }
}

.header__content-title {
  position: relative;
  margin: 0 auto;
  margin-top: 10vh;
  text-align: center;
  letter-spacing: 0.05em;
  line-height: 130%;
  font-size: 4.5em;
  font-weight: 600;
  text-transform: uppercase;

  &::after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 3px;
    background-color: #d1a954;
    opacity: 0.4;

    @include mq($from: tablet) {
      left: 0;
      margin-top: 10vh;
      transform: translate(0);
    }
  }

  @include mq($from: phablet) {
  }

  @include mq($from: tablet) {
    font-size: 80px;
    margin: 0;
    margin-top: 10vh;
    text-align: start;
  }

  @include mq($from: tablet-wide) {
    width: auto;
  }
}

.header__content-subtitle {
  font-weight: 500;
  font-size: 22px;

  @include mq($from: tablet) {
    display: block;
    width: 500px;
    margin-top: 20px;
    line-height: 130%;
  }
}

.header__content-title--size {

  @include mq($from: tablet) {
    font-size: 2.5em;
  }
  
}

.header__content-text {
  text-align: center;
  line-height: 1.6em;
  letter-spacing: 0.1em;
  font-size: 22px;
  font-weight: 400;

  @include mq($from: phablet) {
    font-size: 24px;
    padding-bottom: 30px;
  }

  @include mq($from: tablet) {
    text-align: start;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 40px;
  }
}


.header__container-text {
  padding: 15px;
}

.header__wrapper {
  position: relative;
  z-index: 1;
  background-color: rgba(51,51,51,.65);
  margin-top: 100px;

  @include mq($from: tablet) {
    margin-top: 150px;
  }

  @include mq($from: tablet-wide) {
    margin-top: 200px;
  }
}