.header__content--container {

	@include mq($from: tablet) {
		display: flex;
		justify-content: space-between;
		min-height: 360px;
		
  }
}

.header__content {
	background-color: rgba(67, 79, 79, 0.537);
	padding: 0 20px;
	margin-bottom: 30px;

	@include mq($from: tablet) {
		width: 50%;
		margin-bottom: 0;
		margin-right: 10px;
  }

	@include mq($from: tablet-wide) {
  }
}

.header__inner {
	padding: 40px 30px;
	background-color: rgba(0,0,0,0.3);
	border-radius: 20px;

	@include mq($from: tablet) {
		padding: 40px 20px;
		height: auto;
  }
}

.header__content-title {
	position: relative;
	margin: 0 auto;
	margin-bottom: 40px;
	text-align: center;
	letter-spacing: 0.05em;
	line-height: 130%;
	font-size: 24px;

	&::after {
		content: "";
		position: absolute;
		bottom: -20px;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 50%;
		height: 3px;
		background-color: #ffffff;
		opacity: 0.4;
		border-radius: 50%;

		@include mq($from: tablet) {
			left: 0;
			bottom: -40px;
			transform: translate(0);
		}
	}

	@include mq($from: tablet) {
		font-size: 30px;
		margin: 0;
		margin-bottom: 80px;
    text-align: start;
  }

	@include mq($from: tablet-wide) {
		width: auto;
  }
}

.header__content-subtitle {
	font-weight: 500;
	font-size: 22px;

	@include mq($from: tablet) {
		display: block;
		width: 500px;
		margin-top: 20px;
		line-height: 130%;
  }
}

.header__content-text {
text-align: center;
line-height: 1.6em;
letter-spacing: 0.1em;

@include mq($from: tablet) {
	text-align: start;
	margin: 0;
}
}