.header__form {
	z-index: 1;
	margin: 0 auto;
	align-items: center;

	@include mq($from: tablet) {
		width: 35%;
		margin: 0;
	}

	@include mq($from: tablet) {
		width: 40%;
	}

	input {
		max-width: 500px;
		height: 40px;
		outline: 0px;
		padding: 0 10px;
		border: 0;
		border-radius: 5px;
		margin-bottom: 20px;

		&::placeholder {
			font-size: 16px;
		}

		@include mq($from: phablet) {
			max-width: 600px;

			&::placeholder {
				font-size: 16px;
			}
		}

		@include mq($from: tablet-wide) {

			&::placeholder {
				font-size: 16px;
			}
		}

		@include mq($from: desktop) {
			height: 50px;
		}

		
	}
	
}

.header__form-title {
	margin-top: 0;
	font-size: 24px;
	text-align: center;

	@include mq($from: tablet) {
		font-size: 30px;
		text-align: start;
	}

	@include mq($from: tablet-wide) {
		
	}

	
}
