.header__form-container {
	z-index: 1;
	margin: 0 auto;
	align-items: center;

	@include mq($from: tablet) {
		width: 320px;
		margin: 0;
	}
}

.header__form {
	display: flex;
	flex-direction: column;

	input {
		max-width: 500px;
	
		@include mq($from: phablet) {
			width: 45%;
		}
	
		@include mq($from: tablet) {
			width: 100%;
		}
	}

		@include mq($from: phablet) {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
		}
}



.header__form-title {
	margin-top: 0;
	font-size: 24px;
	text-align: center;
	font-weight: 500;

	@include mq($from: tablet) {
		font-size: 30px;
		text-align: start;
	}

	@include mq($from: tablet-wide) {
		
	}

	
}
