.l-price {
	background-color: #ffffff;
}

.l-price__text {

	@include mq($from: tablet-wide) {
		font-size: 18px;
	}
}

.l-price__item {
	position: relative;
	padding: 5px;
	padding-left: 40px;
	line-height: 1.4em;
	font-size: 14px;

	@include mq($from: tablet-wide) {
		font-size: 16px;
	}

	&::after {
		content: "";
		position: absolute;
		left: 20px;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 7px;
		height: 7px;
		background-color: #d1a954;
		border: 1px solid #404044;
	}
}