.nav__social--desktop-wrap {
    z-index: 2;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #292b2c;
}

.nav__social--desktop {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    padding-top: 100px;


}

.nav__social-list--desktop {
    

    svg {
        top: 4px;

    }
}

.nav__social-list--svg {
    display: flex;

    .nav__social-item {
        width: 40px;
        height: 40px;
    }
}


.nav__social-item {

    margin: 10px;
}