.preview {
	color: #404044;
	font-size: 16px;
}



.preview__link {
	color: #d1a954;
	border-bottom: 1px solid #dda429;
}

.preview__text {
	line-height: 1.5em;
	word-spacing: 0.6em;
	margin-bottom: 20px;
}