.preview {
	color: #333333;
	font-size: 16px;
	padding: 0 10px;
}

.preview__title {
	font-size: 26px;
	font-weight: 700;
	text-align: center;
}

.preview__link {
	color: #d1a954;
	border-bottom: 1px solid #dda429;
}

.preview__text {
	line-height: 1.5em;
	word-spacing: 0.6em;
	margin-bottom: 20px;
}