.s-header {
	height: auto;
}

.s-header__nav {
	margin: 0 auto;
	background-color:  #363839;
}

.s-header__container {
	margin-top: -1px;
}

.s-menu {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;
	padding-top: 10px;
	margin-bottom: 0;
}


.red {
	background-color: rebeccapurple;
}