.section__title {
	font-size: 26px;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
  margin-bottom: 35px;
}

.section__text {
	font-size: 16px;
	line-height: 1.5em;
	word-spacing: 0.6em;
	margin-bottom: 20px;
}