.services {
    color: #000000;
}

.services__container {
    
    @include mq($from: tablet) {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }

    @include mq($from: tablet) {
        margin: 0 5px;
    }
}

.services__card {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #d1a954;
    margin-bottom: 25px;
    font-weight: 600;
    transition: all 0.1s ease-in-out; 
    
    &:hover .services__hover-content {
        opacity: 1;
    }

    &:hover { 
        outline: 5px solid rgba(51,51,51,.65);
        transition: all 0.1s ease-in-out; 
    }

    &:hover .services__hover-title {

        @include mq($from: tablet) {
            transform: scale(1);   
        }
    }
    
    @include mq($from: tablet) {
        max-width: 49.3%;
    }
}

.services__content {
    margin: 0;
}

.services__name {
    position: absolute;
    bottom: 0;
    margin: 20px 30px;
    padding: 10px 20px;
    text-align: center;

    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #d1a954;
        transform: skewX(-35deg);
        bottom: 0;
        left: 0;
      }
  }
  
.services__name-link {
    z-index: 1;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: .1em;
    line-height: 1.3em;

    @include mq($from: tablet-wide) {
        font-size: 1.3em;
      }
}

picture {
    display: flex;
}

.services__img {
    width: 100%;
    height: auto;
    object-fit: cover;

    @include mq($from: phablet) {
        height: 200px;
    }

    @include mq($from: tablet-wide) {
        height: auto;
    }
}

.services__hover-content {
    background: linear-gradient(0deg, rgba(51, 51, 51, 0.1), rgba(51, 51, 51, .7));   
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: auto;
    padding: 20px;
    color: #000000;
    opacity: 0; 
    transition: all 0.35s ease-in-out;  
}

.services__link { 
    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}

.services__hover-title {
    color: #fff;
    transition: all 0.5s 0.1s ease-in-out;
    transform: scale(0);
}

.services__hover-text {
    z-index: 2;
    color: #fff;
    position: absolute;
    left: 40px;
    bottom: 100px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: .1em;
    text-transform: uppercase;

    &::after {
        content: '';
        position: absolute;
        width: 5px;
        height: 5px;
        bottom: 3px;
        right: 0;
        background-color: #fff;
        transition: all 0.5s 0.1s ease-in-out;
        border-radius: 100%;
        opacity: 0;
    }

    &:hover::after {
        right: -7px;
        opacity: 1;
    }

    @include mq($from: phablet) {
        bottom: 70px;
    }
}

.services__hover--circle {
    &::after, &::before {
        content: '';
        position: absolute;
        bottom: 3px;
        right: 0;
        width: 5px;
        height: 5px;
        background-color: #fff;
        transition: all 0.5s 0.1s ease-in-out;
        border-radius: 100%;
        opacity: 0;
    }
    
    &:hover::after {
        right: -14px;
        opacity: 1;
    }

    &:hover::before {
        right: -21px;
        opacity: 1;
    }
}

