.services {
    color: #000000;
}

.services__container {
    
    @include mq($from: phablet) {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }
}

.services__card {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #d1a954;
    margin-bottom: 25px;
    border-radius: 10px;
    font-weight: 600;
    
    &:hover .services__hover-content { 
        opacity: 1;
    }

    &:hover .services__hover-title {

        @include mq($from: phablet) {
            transform: scale(1);   
        }
         
    }
    
    @include mq($from: tablet) {
        width: 49%;
    }
}

.services__content {
    margin: 0;
}

.services__name {
    position: absolute;
    bottom: 0;
    padding: 10px 20px;
    text-align: center;

    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #d1a954;
        transform: skewX(-35deg);
        bottom: 10px;
        left: 20px;
      }
  }
  
.services__name-link {
    z-index: 1;
    position: relative;
    bottom: 10px;
    left: 20px;
    width: 100%;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: .1em;
    line-height: 1.3em;

    @include mq($from: tablet-wide) {
        font-size: 1.3em;
      }
}

picture {
    display: flex;
}

.services__img {
    width: 100%;
    height: auto;

    @include mq($from: phablet) {
        height: 200px;
    }

    @include mq($from: tablet-wide) {
        height: auto;
    }
}

.services__hover-content {
    background: linear-gradient(0deg, rgba(51, 51, 51, 0.1), rgba(51, 51, 51, .7));   
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: auto;
    padding: 20px;
    color: #000000;
    opacity: 0; 
    transition: all 0.35s ease-in-out;  
}

.services__link {
    
    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}

.services__hover-title {
    color: #fff;
    transition: all 0.5s 0.1s ease-in-out;
    transform: scale(0);
}

.services__hover-text {
    color: #fff;

    span {
        position: relative;
        z-index: 2;

        &::after, &::before {
            content: '';
            position: absolute;
            width: 3px;
            height: 10px;
            background-color: #fff;
        }

        &::after {
            right: 0;
            top: 2px;
            transform: rotate(60deg);
        }

        &::before {
            right: 0;
            top: -2px;
            transform: rotate(-60deg);
        }

        &:hover::before, &:hover::after {
            background-color: red;
        }
    }
}