.services {
  background-color: #f6f6f6;
  color: #404044;
  padding-bottom: 60px;
  margin-top: 40px;

  @include mq($from: tablet-wide) {
    margin-top: 60px;
  }
}

.services__container {
  margin: 0 auto;
  background-color: #f6f6f6;
  padding-top: 5px;

  @include mq($from: tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 5px;
    padding: 5px;
  }

  @include mq($from: desktop) {
    max-width: 100%;
    display: flex;
    grid-row-gap: 0px;
    grid-column-gap: 0px;
    padding: 0;
  }
}

.services__card {
  position: relative;
  width: 100%;
  margin-bottom: 5px;
  height: auto;
  background-color: #d1a954;
  font-weight: 600;
  transition: all 0.35s ease-in-out;
  margin-bottom: 3px;

  &:hover {
    @include mq($from: tablet) {
      outline: 5px solid rgba(51, 51, 51, 0.65);
      
    }

    @include mq($from: desktop) {
      outline: 2px solid rgba(51, 51, 51, 0.65);
      transform: scale(0.7);
      
    }
  }

  &:hover .services__hover-content {
    opacity: .6;
    
  }

  &:hover .services__hover-content-1 {
    opacity: 1;
    
  }

  &:hover .services__hover-title {
    @include mq($from: tablet-wide) {
      transform: scale(1);
      background-color: rgba(51, 51, 51, 0.5);
      border-radius: 10px;
      padding: 5px;
    }
  }

  @include mq($from: tablet) {
    outline: 5px solid #f6f6f6;
  }

  @include mq($from: desktop) {
    max-height: 550px;
    outline: 0px solid #f6f6f6;
    margin: 0 1px;
  }
}

.services__title {
  margin-top: 0;
  padding-top: 26px;
}

.services__content {
  margin: 0;

  @include mq($from: desktop) {
    position: relative;
  overflow: hidden; // Обрізає все, що виходить за межі
  width: 100%;      
  height: 100%; 
  }
  
}



.services__name {
  position: absolute;
  bottom: 10px;
  text-align: center;
  width: 100%;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
  }

  @include mq($from: desktop) {
  }
}

.services__name-link {
  z-index: 1;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #fff;
  line-height: 1.3em;
  font-size: 16px;

  @include mq($from: tablet-wide) {
    font-size: 18px;
    text-transform: uppercase;
  }
}

picture {
  display: flex;
}

.services__img {
  width: 100%;
  max-height: 150x;
  object-fit: cover;
  transition: transform 0.3s ease;
  display: block;

  @include mq($from: phablet) {
    height: 170px;
  }

  @include mq($from: tablet-wide) {
    max-height: 330px;
    height: 300px;
  }

  @include mq($from: desktop) {
    height: 550px;
    max-height: 550px;
    width: 100%;
  object-fit: cover;   // Заповнює контейнер без деформації (прибирає ваші коричневі краї)
  display: block;
  transition: transform 0.5s ease;
  transform: scale(1.1); 
  }

}

@include mq($from: desktop) {
  .services__card:hover {
    .services__img {
      // Фото зменшується, але завдяки тому, що воно було 1.5,
      // при 0.7 воно все ще буде достатньо великим, щоб закрити фон.
      transform: scale(1); 
      
    }
  }
}




.services__hover-content {
  background: linear-gradient(
    0deg,
    rgba(51, 51, 51, 0.9),
    rgba(51, 51, 51, 0.4)
  );
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: auto;
  padding: 20px;
  color: #000000;
  opacity: 1;
  transition: all 0.35s ease-in-out;

  @include mq($from: desktop) {
    padding: 5px;
  }
}

.services__hover-content-1 {
  background: linear-gradient(
    0deg,
    rgba(51, 51, 51, 0),
    rgba(51, 51, 51, 0)
  );
}

.services__link {
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}

.services__hover-title {
  margin-top: 20px;
  font-size: 1em;
  font-weight: 400;
  text-align: center;
  color: #fff;
  transition: all 0.5s 0.1s ease-in-out;
  transform: scale(0);

  @include mq($from: tablet-wide) {
    font-size: 1.125rem;
  }
}

.services__hover-text {
  z-index: 2;
  color: #fff;
  position: absolute;
  left: 40px;
  bottom: 100px;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  &::after {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    bottom: 3px;
    right: 0;
    background-color: #fff;
    transition: all 0.5s 0.1s ease-in-out;
    border-radius: 100%;
    opacity: 0;
  }

  &:hover::after {
    right: -7px;
    opacity: 1;

    @include mq($from: tablet-wide) {
      width: 7px;
      height: 7px;
      right: -10px;
    }
  }

  @include mq($from: phablet) {
    bottom: 80px;
    left: 50px;
  }

  @include mq($from: tablet) {
    bottom: 85px;
    left: 50px;
  }

  @include mq($from: tablet-wide) {
    font-size: 20px;
    font-weight: 600;
    bottom: 100px;
    left: 75px;
  }
}

.services__hover--circle {
  &::after,
  &::before {
    content: '';
    position: absolute;
    bottom: 3px;
    right: 0;
    width: 5px;
    height: 5px;
    background-color: #fff;
    transition: all 0.5s 0.1s ease-in-out;
    border-radius: 100%;
    opacity: 0;

    @include mq($from: tablet-wide) {
      width: 7px;
      height: 7px;
    }
  }

  &:hover::after {
    right: -14px;
    opacity: 1;

    @include mq($from: tablet-wide) {
      right: -20px;
    }
  }

  &:hover::before {
    right: -21px;
    opacity: 1;

    @include mq($from: tablet-wide) {
      right: -30px;
    }
  }
}
