// .header {
//   height: 100vh !important;
// }

// video {
//   display: none;
// }

// .video-overlay {
//   background-image: linear-gradient(0deg, rgba(51, 51, 51, 0), #6b663b);
// }

// .header__content--container {
//   display: none;
// }

// .header__content--action {
//   margin-top: 0;
//   color: #ffffff;
//   text-align: center;
//   .img-army {
//     width: 70%;
//     height: auto;
//   }
//   .img-army1 {
//     width: 40%;
//     height: auto;
//   }
// }

// .video-wrapper {
//   position: relative;
//   padding-bottom: 56.25%; /* 16:9 пропорція */
//   height: 0;
//   overflow: hidden;
//   max-width: 800px;
//   margin: 0 auto; /* Центрування */
// }

// .video-wrapper iframe {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;

//   @include mq($from: tablet) {
//     height: 70%;
//   }
//   @include mq($from: tablet-wide) {
//     height: 50%;
//   }
//   @include mq($from: desktop) {
//     height: 50%;
//   }
// }

// .menu {
//   margin-bottom: 0;

//   @include mq($from: tablet) {
//     margin-bottom: 0px !important;
//   }

//   @include mq($from: tablet-wide) {
//     margin-bottom: 0px !important;
//   }
// }
