@charset "UTF-8";
/*
Where ever you're wanting to use a z-index value, 
name it the same as your class and add in it into your variables/setting file, 
like below. You'll never have a "z-index: 99999999;" headache again.

.site-header {
    z-index: z('site-header');
}
*/
/*
	Media Query mixin
	See https://github.com/sass-mq/sass-mq/ for original full version.
	@example scss
	 .element {
	   @include mq($from: mobile) {
		 color: red;
	   }
	   @include mq($to: tablet) {
		 color: blue;
	   }
	   @include mq(mobile, tablet) {
		 color: green;
	   }
	   @include mq($from: tablet, $and: '(orientation: landscape)') {
		 color: teal;
	   }
	   @include mq(em(950px)) {
		 color: hotpink;
	   }
	   @include mq(em(950px), $media-feature: height) {
		 color: hotpink;
	   }
	   @include mq(tablet, $media-type: screen) {
		 color: hotpink;
	   }
	   // Advanced use:
	   $custom-breakpoints: (L: 900px, XL: 1200px);
	   @include mq(L, $bp: $custom-breakpoints) {
		 color: hotpink;
	   }
	 }
*/
/*

	Retina images

	example:

	.element {
		@include retina {
			background-image: url(../img/background@2x.png);
		}
	}

*/
/*
  To quickly centre a block element without having to worry about 
  if there is any top or bottom margin already applied.
*/
/*
  When using ::before and ::after you'll always need these three,
  so we're saving two lines of code every time you use this.
  See below an example of using it without any arguments 
  (You will also see this mixin used in some of our other mixins below too).

  div::after {
    @include pseudo;
    top: -1rem; left: -1rem;
    width: 1rem; height: 1rem;
  }
*/
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  background-color: #363839;
}

main {
  z-index: 1;
  background-color: #ffffff;
}

ul {
  list-style: none;
}

img {
  width: auto;
}

p {
  line-height: 1.8;
}

input {
  height: 40px;
  outline: 0px;
  padding: 0 10px;
  border: 0;
  border-radius: 5px;
  margin-bottom: 20px;
  color: #949090;
}
input::-webkit-input-placeholder {
  font-size: 14px;
}
input::placeholder {
  font-size: 14px;
}
input:focus {
  outline: 2px solid #d1a954;
}

label {
  width: 100%;
}

.header {
  margin-bottom: 0px;
}

.container {
  margin: 0 auto;
  max-width: 1248px;
  padding: 0 15px;
}

.section {
  margin-bottom: 0;
  margin-bottom: 40px;
}
.section--no-margin {
  margin-bottom: 0;
}

.lock {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  margin-top: 30px;
}

.section {
  margin-bottom: 40px;
}
.section--no-margin {
  margin-bottom: 0;
}

svg {
  transition: all 0.25s ease-in-out;
  overflow: hidden;
  vertical-align: middle;
  fill: #ffffff;
}

ul {
  padding: 0;
  margin: 0;
}

.active {
  color: #949090;
}
.active:hover {
  color: #949090;
}

.button {
  position: relative;
  display: block;
  height: 50px;
  border: none;
  border-radius: 0;
  text-transform: uppercase;
  background-color: #d1a954;
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s;
  font-size: 18px;
}
.button:hover {
  background-color: #b47c48;
}
.button:active {
  background-color: #6e4b4b;
}
.button-lang {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s;
}

.calc__body {
  background-color: #8B8B8B;
}

.calc__sheet,
.calc__profile-pipe {
  display: none;
}

.active {
  display: block;
}

.disabled {
  display: none;
}

.metal {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin-bottom: 20px;
}

.calc__form {
  display: flex;
  flex-direction: column;
  background-color: purple;
}

label {
  position: relative;
  margin-bottom: 10px;
  width: 100%;
  font-size: 18px;
}

.result__box {
  position: relative;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#mass,
#area,
#mass1,
#area1 {
  position: absolute;
  right: 0;
  top: 0;
  width: 40%;
  height: 30px;
  margin: 0;
  border: 2px solid black;
}

.development-page {
  text-align: center;
  color: #cf2d2d;
  font-size: 24px;
  font-weight: 600;
}

.header {
  position: relative;
  height: 880px;
}

.header__container {
  margin: 0 auto;
}

.header__background {
  z-index: 0;
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  position: absolute;
  background-image: linear-gradient(0deg, rgba(51, 51, 51, 0.6), #292b2c), url("../img/lazer.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.burger-btn {
  position: relative;
  width: 30px;
  height: 20px;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 4;
  transition: ease 2s;
}
.burger-btn::before, .burger-btn::after,
.burger-btn span {
  content: "";
  position: absolute;
  left: 25px;
  top: 0;
  height: 3px;
  width: 30px;
  background-color: #ffffff;
  transition: 0.3s;
}
.burger-btn span {
  top: 7px;
}
.burger-btn::before, .burger-btn::after {
  transition: 0.5s;
}
.burger-btn::before {
  top: 5px;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}
.burger-btn::after {
  top: 10px;
  width: 16px;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.burger-btn-active {
  transition: ease 1.7s;
  width: 30px;
  height: 20px;
  -webkit-transform: translateX(180px);
          transform: translateX(180px);
}
.burger-btn-active span {
  opacity: 0;
  width: 17px;
}
.burger-btn-active::before {
  top: 0px;
  width: 17px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.burger-btn-active::after {
  top: 0px;
  width: 17px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.nav {
  z-index: 3;
  position: absolute;
  top: 0;
  height: 880px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  transition: ease 1.5s;
  -webkit-transform: translateX(-350px);
          transform: translateX(-350px);
}

.nav__active {
  top: 0;
  -webkit-transform: translateX(-30px);
          transform: translateX(-30px);
  background-color: #333333;
  height: 880px;
}

.nav__close {
  transition: ease 3.2s;
}

.nav__inner {
  margin-top: 70px;
}

.nav__item {
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.nav__active .nav__item {
  -webkit-animation: menu-on 0.3s linear both;
          animation: menu-on 0.3s linear both;
}
.nav__active .nav__item:nth-child(1) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.nav__active .nav__item:nth-child(2) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}
.nav__active .nav__item:nth-child(3) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
.nav__active .nav__item:nth-child(4) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
.nav__close .nav__item {
  -webkit-animation: menu-off 0.2s linear both;
          animation: menu-off 0.2s linear both;
}
.nav__close .nav__item:nth-child(1) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.nav__close .nav__item:nth-child(2) {
  -webkit-animation-delay: 0.35s;
          animation-delay: 0.35s;
}
.nav__close .nav__item:nth-child(3) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.nav__close .nav__item:nth-child(4) {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}
.nav__close .nav__item .nav__list-social:nth-child(1) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.nav__close .nav__item .nav__list-social:nth-child(2) {
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}
.nav__close .nav__item .nav__list-social:nth-child(3) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
.nav__close .nav__item .nav__list-social:nth-child(4) {
  -webkit-animation-delay: 0.05s;
          animation-delay: 0.05s;
}

.nav-short {
  height: 450px;
}

.nav__item-social {
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.nav__active .nav__item-social {
  -webkit-animation: menu-on 0.3s linear both;
          animation: menu-on 0.3s linear both;
}
.nav__active .nav__item-social:nth-child(1) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.nav__active .nav__item-social:nth-child(2) {
  -webkit-animation-delay: 1.1s;
          animation-delay: 1.1s;
}
.nav__active .nav__item-social:nth-child(3) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}
.nav__active .nav__item-social:nth-child(4) {
  -webkit-animation-delay: 1.3s;
          animation-delay: 1.3s;
}
.nav__close .nav__item-social {
  -webkit-animation: menu-off 0.2s linear both;
          animation: menu-off 0.2s linear both;
}
.nav__close .nav__item-social:nth-child(1) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.nav__close .nav__item-social:nth-child(2) {
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}
.nav__close .nav__item-social:nth-child(3) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
.nav__close .nav__item-social:nth-child(4) {
  -webkit-animation-delay: 0.05s;
          animation-delay: 0.05s;
}

.nav__list {
  display: flex;
  flex-direction: column;
  width: 240px;
  font-weight: 600;
  list-style: none;
  padding: 0 0 30px 40px;
  transition: 0.3 ease;
  text-transform: uppercase;
}
.nav__list li {
  margin-bottom: 20px;
  letter-spacing: 0.05em;
  line-height: 20px;
}

.nav__list-social {
  flex-wrap: wrap;
  font-weight: 400;
  text-transform: none;
}
.nav__list-social img {
  height: 30px;
}

.link-social--svg {
  position: absolute;
  top: 0;
  left: 0;
}

.nav__list--desktop {
  display: none;
}

.menu {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  padding-top: 10px;
}

.menu__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header__lang {
  display: flex;
  flex-direction: column;
}

.header__btn {
  padding: 5px 10px;
  margin-bottom: 7px;
  background-color: inherit;
  color: #ffffff;
  border: none;
  font-size: 20px;
  font-weight: 500;
}

.header__btn_active {
  background-color: rgba(136, 130, 130, 0.3647058824);
  color: #ff1900;
  border-radius: 3px;
}

.menu__title {
  margin: 0;
}

.menu__link-logo:hover {
  opacity: 0.3;
  transition: all ease 0.3s;
}

.menu__link-logo {
  transition: all ease 0.3s;
}

.menu__logo {
  font-size: 16px;
  width: 30vw;
  margin: 0;
}

.menu__list {
  padding: 0;
}

@-webkit-keyframes menu-on {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes menu-on {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes menu-off {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes menu-off {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.header__content--container {
  position: relative;
}

.header__content {
  z-index: 1;
  background-color: rgba(67, 79, 79, 0.537);
  padding: 0 20px;
  margin-bottom: 30px;
  margin-top: 15vh;
}
.header__inner {
  padding: 20px 15px;
  background-color: rgba(51, 51, 51, 0.65);
  border-radius: 20px;
}

.header__content-title {
  position: relative;
  margin: 0 auto;
  margin-bottom: 40px;
  text-align: center;
  letter-spacing: 0.05em;
  line-height: 130%;
  font-size: 24px;
  font-weight: 500;
}
.header__content-title::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50%;
  height: 3px;
  background-color: #d1a954;
  opacity: 0.4;
}

.header__content-subtitle {
  font-weight: 500;
  font-size: 22px;
}

.header__content-text {
  text-align: center;
  line-height: 1.6em;
  letter-spacing: 0.1em;
  font-size: 14px;
}

.link-hover {
  position: relative;
  padding-bottom: 6px;
  transition: 0.3s;
}
.link-hover:hover {
  transition: 0.3s;
  color: rgba(255, 255, 255, 0.61);
}
.link-hover:active {
  color: rgba(255, 255, 255, 0.363);
}
.link-hover:hover:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
  -webkit-transform-origin: left;
          transform-origin: left;
  opacity: 1;
}
.link-hover:active:before {
  transition: 5s;
  background: linear-gradient(90deg, rgb(110, 75, 75) 0%, rgb(112, 51, 51) 100%);
}
.link-hover::before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 2px;
  border-radius: 10px;
  background: linear-gradient(90deg, rgb(110, 75, 75) 0%, rgb(252, 176, 69) 100%);
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
}

.link-social {
  position: relative;
  display: block;
  padding-left: 35px;
  transition: 0.3s;
  line-height: 1.5;
}

.link-social {
  display: inline-block;
  font-size: 14px;
}
.link--hover:hover {
  color: #d1a954;
}
.link--hover:hover svg {
  fill: #d1a954;
}

.link--active {
  position: relative;
  padding-bottom: 6px;
  color: rgba(255, 255, 255, 0.61);
}
.link--active::before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 2px;
  border-radius: 10px;
  background: linear-gradient(90deg, rgb(110, 75, 75) 0%, rgb(112, 51, 51) 100%);
}

.l-link {
  color: #d1a954;
}
.l-link svg {
  fill: #d1a954;
}

.preview {
  color: #404044;
  font-size: 16px;
  line-height: 1.2;
  margin-top: 40px;
}

.preview__link {
  color: #d1a954;
  border-bottom: 1px solid #dda429;
}

.services {
  background-color: #f6f6f6;
  color: #404044;
  padding-bottom: 60px;
  margin-top: 40px;
}

.services__container {
  margin: 0 auto;
  background-color: #f6f6f6;
}

.services__card {
  position: relative;
  width: 100%;
  margin-bottom: 5px;
  height: auto;
  background-color: #d1a954;
  font-weight: 600;
  transition: all 0.35s ease-in-out;
}
.services__card:hover .services__hover-content {
  opacity: 1;
}

.services__title {
  margin-top: 0;
  padding-top: 26px;
}

.services__content {
  margin: 0;
}

.services__name {
  position: absolute;
  bottom: 0;
  margin: 20px 30px;
  padding: 7px 15px;
  text-align: start;
}
.services__name::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #d1a954;
  -webkit-transform: skewX(-35deg);
          transform: skewX(-35deg);
  bottom: 0;
  left: 0;
}

.services__name-link {
  z-index: 1;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #fff;
  letter-spacing: 0.1em;
  line-height: 1.3em;
}

picture {
  display: flex;
}

.services__img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
}
.services__hover-content {
  background: linear-gradient(0deg, rgba(51, 51, 51, 0.4), rgba(51, 51, 51, 0.9));
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: auto;
  padding: 20px;
  color: #000000;
  opacity: 0;
  transition: all 0.35s ease-in-out;
}

.services__link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.services__hover-title {
  margin-top: 20px;
  font-size: 1em;
  font-weight: 400;
  text-align: center;
  color: #fff;
  transition: all 0.5s 0.1s ease-in-out;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.services__hover-text {
  z-index: 2;
  color: #fff;
  position: absolute;
  left: 40px;
  bottom: 100px;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.services__hover-text::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  bottom: 3px;
  right: 0;
  background-color: #fff;
  transition: all 0.5s 0.1s ease-in-out;
  border-radius: 100%;
  opacity: 0;
}
.services__hover-text:hover::after {
  right: -7px;
  opacity: 1;
}

.services__hover--circle::after, .services__hover--circle::before {
  content: "";
  position: absolute;
  bottom: 3px;
  right: 0;
  width: 5px;
  height: 5px;
  background-color: #fff;
  transition: all 0.5s 0.1s ease-in-out;
  border-radius: 100%;
  opacity: 0;
}
.services__hover--circle:hover::after {
  right: -14px;
  opacity: 1;
}
.services__hover--circle:hover::before {
  right: -21px;
  opacity: 1;
}

.section__title {
  font-size: 26px;
  font-weight: 400;
  line-height: 1.3;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 35px;
  color: #404044;
}

.section__text {
  font-size: 16px;
  line-height: 1.5em;
  word-spacing: 0.6em;
  margin-bottom: 20px;
}

.section__text--black {
  color: #404044;
}

.section--center-text {
  text-align: center;
}

.section--featured {
  line-height: 1.8;
  color: #404044;
}

.featured {
  margin-top: 80px;
  margin-bottom: 30px;
}

.featured__card {
  margin-top: 50px;
}

.featured__image-card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px auto;
  width: 80px;
  height: 43px;
  background-color: #ff1900;
  border-radius: 3px;
}
.featured__image-card:before, .featured__image-card::after {
  content: "";
  position: absolute;
  border-left: 40px solid rgba(0, 0, 0, 0);
  border-right: 40px solid rgba(0, 0, 0, 0);
}
.featured__image-card:before {
  border-top: 25px solid #ff1900;
  bottom: -24px;
}
.featured__image-card::after {
  top: -24px;
  border-bottom: 25px solid #ff1900;
}

.featured__content {
  margin-top: 40px;
  text-align: center;
}

.featured__content-title {
  margin-bottom: 0;
  font-size: 18px;
  text-transform: uppercase;
}

.featured__content-text {
  font-size: 15px;
}

.partners__slider {
  position: relative;
  height: 150px;
  width: 90%;
  margin: 0 auto;
}
.partners__slider .swiper-button-next::after,
.partners__slider .swiper-button-prev::after {
  display: none;
}
.partners__slider .swiper-button-next,
.partners__slider .swiper-button-prev {
  background-color: rgba(51, 51, 51, 0.65);
  transition: all 0.35s ease-in-out;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  opacity: 0.5;
}
.partners__slider .swiper-button-next img,
.partners__slider .swiper-button-prev img {
  width: 20px;
  height: 20px;
}
.partners__slider .swiper-button-next {
  right: -27px;
}
.partners__slider .swiper-button-next:hover {
  opacity: 1;
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}
.partners__slider .swiper-button-prev {
  left: -27px;
}
.partners__slider .swiper-button-prev:hover {
  opacity: 1;
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
}

.swiper-button-next {
  top: 30px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide img {
  width: 100%;
  height: auto;
}

.swiper-wrapper {
  text-align: center;
  align-items: center;
}

.partners {
  position: relative;
  color: #404044;
  padding-top: 10px;
  padding-bottom: 120px;
  margin-bottom: 0;
}

.partners__background {
  background-attachment: fixed;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  background-image: url("../img/bg-document.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.2;
}

.map {
  max-width: 2060px;
  margin: 0 auto;
}

iframe {
  width: 100%;
  height: 350px;
}

.footer {
  position: relative;
  z-index: 2;
  background-color: #363839;
  padding-bottom: 50px;
}

.info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.info__block {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 20px 0;
}

.info__title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 26px;
  font-weight: 400;
  text-transform: uppercase;
}
.info__title::first-letter {
  color: #d1a954;
}

.info__item {
  position: relative;
  margin: 0;
  padding: 7px 0;
  font-size: 15px;
}

.info__item--color {
  opacity: 0.7;
  margin-left: 5px;
}

.info__link {
  line-height: 1.5;
  transition: all 0.25s ease-in-out;
}
.info__link:hover {
  color: #d1a954;
  transition: all 0.25s ease-in-out;
}

.clock-svg {
  fill: #ffffff;
  margin-right: 5px;
}

.calculation {
  position: relative;
  color: #ffffff;
  background-color: #ffffff;
}

.calculation__inner {
  position: relative;
  z-index: 500;
  padding: 20px 0;
}

.calculation__background {
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  position: absolute;
  background-image: linear-gradient(0deg, rgba(51, 51, 51, 0.6), #292b2c), url("../img/pipe.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.calculation__title {
  position: relative;
  color: #f6f6f6;
}
.calculation__title::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50%;
  height: 3px;
  background-color: #d1a954;
  opacity: 0.4;
}
.calculation__item {
  position: relative;
}

.calculation__text {
  padding-left: 20px;
}
.calculation__text::after, .calculation__text::before {
  content: "";
  position: absolute;
  left: 0;
  width: 10px;
  height: 2px;
  background-color: #d1a954;
  border-radius: 5px;
}
.calculation__text::after {
  top: 16px;
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
}
.calculation__text::before {
  top: 10px;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

.calculation__form-container {
  padding: 20px 20px;
  background-color: rgba(58, 58, 58, 0.26);
  border-radius: 10px;
}
.calculation__form {
  display: flex;
  flex-direction: column;
}

.calculation__label {
  margin-top: 20px;
}

.calculation__input-file {
  padding: 0;
  margin-top: 10px;
}

input[type=file]::-webkit-file-upload-button {
  margin-right: 20px;
  border: none;
  background: #363839;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

input[type=file]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #363839;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

input[type=file]::-webkit-file-upload-button:hover {
  opacity: 0.7;
}

input[type=file]::file-selector-button:hover {
  opacity: 0.7;
}

.form-textarea {
  padding: 8px 10px;
  border-radius: 3px;
  color: #949090;
  border: 0;
}
.form-textarea:focus {
  outline-offset: 0;
  outline: 2px solid #d1a954;
}
.form-textarea::-webkit-input-placeholder {
  font-size: 14px;
}
.form-textarea::placeholder {
  font-size: 14px;
}

.form__title {
  font-size: 40px;
  font-weight: 700;
  margin: 0px 0px 30px 0px;
}

.form__item {
  width: 100%;
  margin: 0px 0px 10px 0px;
}

.form__none {
  display: none;
}

.form__label {
  font-size: 18px;
  display: block;
  margin: 0px 0px 10px 0px;
}

.form__input {
  height: 50px;
  border-radius: 5px;
  width: 95%;
  font-size: 18px;
  transition: all 0.5s ease 0s;
  overflow: visible;
}

.form__input:focus {
  box-shadow: 0 0 15px #7a956b;
}

.form__input._error {
  box-shadow: 0 0 15px red;
}

textarea.form__input {
  min-height: 100px;
  resize: vertical;
  padding: 15px;
}

.options {
  padding: 10px 0px 0px 0px;
}

.options__item {
  margin: 0px 0px 10px 0px;
}

.options__input {
  display: none;
}

.options__input:checked + .options__label::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.options__label {
  display: inline-flex;
  font-size: 16px;
  line-height: 140%;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.options__label::before {
  content: "";
  align-self: flex-start;
  flex: 0 0 24px;
  height: 24px;
  background-color: #000;
  border-radius: 50%;
  margin: 0px 10px 0px 0px;
}

.options__label::after {
  transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 16px;
  height: 16px;
  background-color: #7a956b;
  border-radius: 50%;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.file__item {
  position: relative;
}

.file__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  font-size: 0;
  cursor: pointer;
}

.file__button {
  display: inline-flex;
  min-height: 40px;
  border-radius: 2px;
  justify-content: center;
  align-items: center;
  background-color: rgba(104, 104, 98, 0.8274509804);
  padding: 0px 20px;
  font-size: 18px;
}

.file__preview {
  display: inline-block;
  max-width: 100px;
  padding: 10px 0px 0px 0px;
}

.file__preview img {
  max-width: 100%;
}

.file__preview--with-icon {
  background: url("icon.svg") no-repeat center center;
}

.embed-container {
  margin-bottom: 10px; /* простор між вбудованими елементами */
}

.nav__social--desktop-wrap {
  display: none;
}

.nav__social--desktop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0;
  padding-top: 100px;
}

.nav__social-list--desktop {
  display: flex;
  align-items: center;
}
.nav__social-list--desktop .link-social {
  padding-left: 0;
}
.nav__social-list--desktop svg {
  position: relative;
  padding-left: 0;
}

.nav__social-list--svg .nav__social-item {
  margin-right: 0;
  margin-left: 20px;
}

.nav__social-item {
  margin-right: 20px;
}

.ware {
  background-color: #f6f6f6;
  color: #404044;
  margin-bottom: 0;
  padding-bottom: 40px;
  padding-top: 30px;
}

.ware__box {
  margin-top: 30px;
}

.ware__card {
  position: relative;
  transition: all 0.35s ease-in-out;
  margin: 0 auto;
  margin-bottom: 30px;
}
.ware__card:hover {
  transition: all 0.35s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.ware__img {
  width: 100%;
  border-radius: 25% 10% 0 0;
  object-fit: cover;
}

.ware__figcaption {
  padding: 30px 0;
  background-color: #ffffff;
}

.ware__content {
  margin: 0;
}

.ware__name::after {
  content: "";
  position: absolute;
  bottom: 60px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90px;
  border-top: 3px #d1a954 double;
}

.ware__name-link {
  display: block;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: #404044;
  transition: all 0.35s ease-in-out;
}
.ware__name-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.ware__name-link:hover {
  transition: all 0.35s ease-in-out;
  color: rgba(0, 0, 0, 0.61);
}

.news {
  color: black;
  padding-bottom: 60px;
}
.news img {
  width: 100%;
}

.news__box {
  position: relative;
}

.news__container {
  display: flex;
  flex-wrap: wrap;
}

.news__blok {
  position: relative;
  background-color: #f6f6f6;
  padding: 15px;
  transition: all 0.35s ease-in-out 0s;
  display: flex;
  margin-bottom: 15px;
}
.news__blok svg {
  fill: #404044;
}
.news__blok:hover {
  background-color: #d1a954;
  color: #f6f6f6;
  transition: all 0.35s ease-in-out 0s;
}
.news__blok:hover svg {
  fill: #f6f6f6; /* Зміна кольору SVG при наведенні */
}

.news__img {
  display: none;
  background-size: cover;
}
.news__img img {
  height: 100%;
  max-width: 100%;
  vertical-align: middle;
}

.news__content {
  display: flex;
  flex-direction: column;
}

.news__title {
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

.news__link {
  color: #404044;
  transition: all 0.35s ease-in-out 0s;
}
.news__link:hover {
  color: #f6f6f6;
  transition: all 0.35s ease-in-out 0s;
}
.news__link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.news__time {
  position: relative;
  margin-bottom: 15px;
  font-size: 14px;
}

.s-header {
  height: 450px;
}

.s-header__background {
  z-index: 0;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  position: absolute;
  background-image: linear-gradient(0deg, rgba(51, 51, 51, 0.6), #292b2c), url("../img/services-header1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.s-header__nav {
  margin: 0 auto;
  background-color: #363839;
}

.s-header__container {
  margin-top: -1px;
}

.s-header__content {
  margin-top: 15vw;
}

.s-menu {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  padding-top: 10px;
  margin-bottom: 0;
}

.s-services {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.a-header__background {
  background-image: linear-gradient(0deg, rgba(51, 51, 51, 0.6), #292b2c), url("../img/about-us-header.jpg");
}

.a-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 10px;
  padding-bottom: 30px;
}

.a-gallery__card {
  position: relative;
  width: 100%;
  height: auto;
  max-height: 160px;
  overflow: hidden;
  transition: all 0.4s ease;
  outline: none;
  border: none;
}
.a-gallery__card img {
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1);
          transform: scale(1);
  transition: all 0.4s ease;
  object-fit: cover;
  outline: none;
  border: none;
}
.a-gallery__card img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  transition: all 0.4s ease;
}

.a-privilege {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #363839;
  padding-bottom: 30px;
}

.a-privilege--color {
  background-color: #f6f6f6;
  color: #404044;
}

.a-privilege__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.a-privilege__box {
  width: 50%;
  margin-bottom: 30px;
}

.a-privilege__card {
  position: relative;
  text-align: center;
}

.a-privilege__card--position {
  flex-direction: column;
}

.a-privilege--svg {
  fill: #363839;
  width: 90px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 10px;
}
.a-privilege--svg:hover {
  fill: #d1a954;
}

.a-privilege__content {
  margin-left: 15px;
}

.a-privilege__title {
  margin: 0;
  margin-bottom: 5px;
  font-size: 15px;
}

.a-privilege__text {
  margin: 0;
  font-size: 12px;
}

.c-header {
  height: 450px;
}

.c-header__background {
  background-image: linear-gradient(0deg, rgba(51, 51, 51, 0.6), #292b2c), url("../img/gallery-6.jpg");
}
.c-header__content-title {
  font-size: 35px;
}

.c-header__content-text {
  font-size: 18px;
}

.c-contacts__card {
  position: relative;
}

.c-communication {
  color: #404044;
  margin-bottom: 30px;
}
.c-communication svg {
  fill: #404044;
}

.c-card {
  display: flex;
  justify-content: space-around;
  position: relative;
  height: 180px;
  padding: 10px;
  text-align: center;
  align-items: center;
  border: 2px solid #f6f6f6;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.c-card__title {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  margin-top: 20px;
  padding: 0;
  font-size: 17px;
}

.c-card__text {
  display: flex;
  align-items: center;
  padding-left: 0;
  font-size: 17px;
  font-weight: 600;
  color: #404044;
}
.c-card__text:hover {
  color: #d1a954;
}
.c-card__text:hover svg {
  fill: #d1a954;
}

.c-svg {
  padding-right: 10px;
}

.c-calculation {
  background-color: #f6f6f6;
}

.c-calculation__wrapper {
  display: flex;
  flex-direction: column;
}

.c-calculation__content {
  padding: 20px;
  margin-bottom: 30px;
  background-color: #363839;
  color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.c-calculation__block {
  display: flex;
  flex-direction: column;
}

.c-calculation__title {
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.c-calculation__block-info {
  display: flex;
}

.c-calculation__text {
  position: relative;
  padding-bottom: 10px;
  font-size: 17px;
  margin: 0;
}

.c-calculation__form-container {
  padding: 40px 20px;
  background-color: rgba(58, 58, 58, 0.26);
  border-radius: 10px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  color: #363839;
}

.l-header__background {
  background-image: linear-gradient(0deg, rgba(51, 51, 51, 0.6), #292b2c), url("../img/gallery-1.jpg");
}

.l-characteristic {
  color: #404044;
}

.l-characteristic__name {
  position: relative;
  color: #777777;
  font-weight: bold;
  font-size: 16px;
  margin: 0;
  text-transform: uppercase;
}
.l-characteristic__name::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 80%;
  height: 3px;
  background-color: #d1a954;
}

.l-characteristic__content {
  margin-top: 40px;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.05) 0 6px 24px 0, rgba(0, 0, 0, 0.08) 0 0 0 1px;
}

.l-characteristic__gallery {
  position: relative;
  margin-top: 50px;
}
.l-characteristic__gallery .a-gallery__card {
  transition: -webkit-filter 0.4s ease;
  transition: filter 0.4s ease;
  transition: filter 0.4s ease, -webkit-filter 0.4s ease;
  max-height: 210px;
}

.l-characteristic__box {
  margin-top: 30px;
  padding-bottom: 10px;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.l-svg {
  display: block;
  margin: 0 auto;
  fill: #404044;
}

.l-characteristic__title {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

.l-characteristic__text {
  font-size: 14px;
  text-align: center;
}

.l-characteristic__text--color {
  color: #d1a954;
}

.l-characteristic__item {
  position: relative;
  padding: 10px;
  padding-left: 25px;
}
.l-characteristic__item::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  background-color: #d1a954;
  left: 10px;
  top: 50%;
  -webkit-transform: translate(-50% -50%);
          transform: translate(-50% -50%);
}

.l-characteristic__photo {
  transition-property: none;
  -webkit-filter: saturate(0%);
          filter: saturate(0%);
  transition: -webkit-filter 0.4s ease;
  transition: filter 0.4s ease;
  transition: filter 0.4s ease, -webkit-filter 0.4s ease;
}
.l-characteristic__photo:hover {
  -webkit-filter: saturate(100%);
          filter: saturate(100%);
}

.l-price {
  background-color: #ffffff;
}

.l-price__item {
  position: relative;
  padding: 5px;
  padding-left: 40px;
  line-height: 1.4em;
  font-size: 14px;
}
.l-price__item::after {
  content: "";
  position: absolute;
  left: 20px;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 7px;
  height: 7px;
  background-color: #d1a954;
  border: 1px solid #404044;
}

.sb-header__background {
  background-image: linear-gradient(0deg, rgba(51, 51, 51, 0.6), #292b2c), url("../img/sheet-bending-1.jpg");
}

.d-header__background {
  background-image: linear-gradient(0deg, rgba(51, 51, 51, 0.6), #292b2c), url("../img/dyeing3.jpg");
}

.w-header__background {
  background-image: linear-gradient(0deg, rgba(51, 51, 51, 0.6), #292b2c), url("../img/metal-products.jpg");
}

.locksmith-header__background {
  background-image: linear-gradient(0deg, rgba(51, 51, 51, 0.6), #292b2c), url("../img/locksmith4.jpg");
}

.scroll-to-form {
  position: fixed;
  z-index: 10;
  bottom: 20px;
  right: 20px;
  padding: 15px 30px;
  padding-left: 50px;
  background-color: #d1a954;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

/* Зміна кольору посилання при наведенні */
.scroll-to-form:hover {
  background-color: #6e4b4b;
}

/* Стрілка */
.scroll-to-form::before {
  content: "";
  position: absolute;
  left: 20px; /* Змініть значення відступу, щоб підігнати стрілку */
  top: calc(50% - 8px); /* Вирівнюємо посередині відносно кнопки */
  border: solid #b47c48;
  border-width: 0 3px 3px 0;
  padding: 4px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
@media (min-width: 560px) {
  body {
    font-size: 16px;
  }
  .header {
    margin-bottom: 0px;
  }
  .container {
    padding: 0 40px;
  }
  .section {
    margin-bottom: 0;
  }
  .button {
    width: 100%;
  }
  .header {
    height: 700px;
  }
  .burger-btn {
    width: 40px;
    height: 20px;
    right: 0;
  }
  .burger-btn::before, .burger-btn::after,
  .burger-btn span {
    height: 4px;
    width: 40px;
  }
  .burger-btn::after {
    top: 16px;
    width: 20px;
  }
  .burger-btn span {
    top: 10px;
  }
  .burger-btn-active spam {
    width: 20px;
  }
  .burger-btn-active::before {
    width: 20px;
    margin-left: 17px;
  }
  .burger-btn-active::after {
    top: 0px;
    width: 20px;
    margin-left: 17px;
  }
  .nav {
    height: 700px;
    width: 320px;
  }
  .nav__active {
    height: 700px;
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
  }
  .nav__inner {
    margin-top: 100px;
  }
  .nav__list {
    width: 250px;
    padding: 0 0 30px 10px;
  }
  .header__lang {
    flex-direction: row;
  }
  .header__btn {
    margin-bottom: 0px;
    margin-left: 6px;
  }
  .menu__logo {
    width: 150px;
  }
  .header__content-text {
    font-size: 16px;
  }
  .services__img {
    height: 200px;
  }
  .services__hover-text {
    bottom: 80px;
    left: 50px;
  }
  .featured {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
    -webkit-column-gap: 10px;
            column-gap: 10px;
  }
  .featured__card {
    margin: 0 auto;
    vertical-align: middle;
  }
  .info__block {
    width: 45%;
  }
  .calculation__wrapper {
    width: 400px;
  }
  .ware__box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .ware__card {
    width: 47%;
  }
  .news__blok:nth-of-type(2) {
    direction: rtl;
  }
  .news__blok:nth-of-type(4) {
    direction: rtl;
  }
  .news__blok {
    padding: 0;
    margin-bottom: 0;
  }
  .news__img {
    display: block;
    width: 50%;
    float: right;
  }
  .news__content-container {
    width: 50%;
  }
  .news__content {
    padding: 15px;
  }
  .news__link {
    margin-bottom: 0;
  }
  .a-gallery__card {
    max-height: 200px;
  }
  .a-privilege--svg {
    width: 110px;
  }
  .a-privilege__title {
    font-size: 18px;
    font-weight: 500;
  }
  .a-privilege__text {
    font-size: 14px;
  }
  .с-header__content {
    margin-top: 130px;
  }
  .c-header__content-title {
    font-size: 50px;
  }
  .c-header__content-text {
    font-size: 20px;
  }
  .c-calculation__wrapper {
    width: 450px;
  }
  .l-characteristic__content {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
  }
  .l-characteristic__gallery {
    width: 50%;
    margin-top: 0;
    padding-left: 30px;
  }
  .l-characteristic__gallery::after {
    content: "";
    position: absolute;
    top: 0;
    left: 10px;
    width: 5px;
    height: 100%;
    background-color: #d1a954;
  }
  .l-characteristic__gallery .a-gallery {
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
  }
  .l-characteristic__gallery .a-gallery__card img {
    width: 290px;
  }
  .l-characteristic__box {
    margin-top: 30px;
  }
  .l-characteristic__box--shadow {
    box-shadow: none;
  }
  .l-svg {
    height: 70px;
    margin-bottom: 0;
  }
  .l-characteristic__item {
    padding: 3px;
    padding-left: 25px;
  }
  .disabled-phablet {
    display: none;
  }
}
@media (min-width: 768px) {
  body {
    font-size: 16px;
  }
  .header {
    margin-bottom: 0px;
  }
  .container {
    padding: 0 30px;
  }
  .section {
    margin-bottom: 0;
  }
  .button {
    margin: 0;
    margin-top: 20px;
  }
  .burger-btn-active {
    -webkit-transform: translateX(220px);
            transform: translateX(220px);
  }
  .nav {
    width: 360px;
    justify-content: flex-start;
    -webkit-transform: translateX(-400px);
            transform: translateX(-400px);
  }
  .nav__active {
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  .nav__list li {
    margin-bottom: 25px;
  }
  .nav__list {
    justify-content: end;
    width: 250px;
    padding-left: 0;
  }
  .nav__list-social li {
    font-size: 18px;
  }
  .menu {
    margin-bottom: 50px;
  }
  .menu__logo {
    width: 170px;
  }
  .header__content--container {
    display: flex;
    justify-content: space-between;
  }
  .header__content {
    margin-bottom: 0;
    margin-right: 20px;
    margin-top: 0;
  }
  .header__inner {
    padding: 40px 20px;
    height: auto;
  }
  .header__content-title::after {
    left: 0;
    bottom: -40px;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  .header__content-title {
    font-size: 30px;
    margin: 0;
    margin-bottom: 80px;
    text-align: start;
  }
  .header__content-subtitle {
    display: block;
    width: 500px;
    margin-top: 20px;
    line-height: 130%;
  }
  .header__content-text {
    text-align: start;
    margin: 0;
  }
  .link--hover {
    display: block;
    padding-left: 40px;
    line-height: 1.5;
  }
  .services__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 5px;
    padding: 5px;
  }
  .services__card:hover {
    outline: 5px solid rgba(51, 51, 51, 0.65);
  }
  .services__card {
    outline: 5px solid #f6f6f6;
  }
  .services__hover-text {
    bottom: 85px;
    left: 50px;
  }
  .featured {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .info__block {
    width: 30%;
  }
  .info__menu,
  .info__schedule {
    width: 20%;
  }
  .calculation {
    font-size: 15px;
  }
  .calculation__content {
    margin-right: 30px;
  }
  .s-header__content {
    margin-top: 5vw;
  }
  .a-gallery {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .c-header {
    height: 700px;
  }
  .с-header__content {
    margin-top: 50px;
  }
  .c-header__content-title {
    font-size: 50px;
  }
  .c-header__content-text {
    font-size: 20px;
  }
  .c-communication__container {
    display: flex;
    justify-content: space-between;
  }
  .c-card {
    display: flex;
    width: 33%;
    padding: 20px;
  }
  .c-calculation__wrapper {
    width: auto;
    justify-content: space-between;
    flex-direction: row;
  }
  .c-calculation__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0;
  }
  .c-calculation__block {
    width: 50%;
    height: 160px;
    align-items: center;
  }
  .c-calculation__text {
    font-size: 20px;
  }
  .c-calculation__form-container {
    width: 43%;
  }
  .l-characteristic__name {
    width: 40%;
  }
  .l-characteristic__gallery {
    width: 40%;
  }
  .l-characteristic__gallery::after {
    left: 0;
  }
  .l-characteristic__gallery .a-gallery__card img {
    width: 100%;
  }
  .l-svg {
    margin-bottom: 0;
  }
}
@media (min-width: 1024px) {
  body {
    font-size: 20px;
  }
  .header {
    margin-bottom: 0px;
  }
  .container {
    padding: 0 70px;
  }
  .section {
    margin-bottom: 0;
  }
  .none {
    display: none;
  }
  .header {
    height: 800px;
  }
  .burger-btn {
    display: none;
  }
  .nav {
    height: 100%;
    flex-direction: row;
    justify-content: flex-end;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    width: 100%;
    padding-top: 0;
    transition: 0s;
  }
  .nav__active {
    background-color: rgba(51, 51, 51, 0);
    opacity: 1;
  }
  .nav__inner {
    margin-top: 0;
  }
  .nav__active .nav__item {
    opacity: 1;
  }
  .nav__close .nav__item {
    -webkit-animation: menu-on 0s linear both;
            animation: menu-on 0s linear both;
  }
  .nav__item {
    position: relative;
    margin-left: 20px;
  }
  .nav__list li {
    justify-content: space-between;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 400;
  }
  .nav__list {
    flex-direction: row;
    width: 100%;
    padding: 0;
  }
  .nav__list-social img {
    height: 30px;
  }
  .nav__list-social {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    padding: 0 40px 0 40px;
    margin: 0;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: end;
    background: rgba(51, 51, 51, 0.65);
  }
  .nav__list-social li {
    margin-bottom: 50px;
  }
  .nav__item---info li {
    margin-bottom: 150px;
  }
  .nav__item---info {
    position: relative;
    margin-bottom: 150px;
    font-size: 18px;
    color: #C4C4C4;
  }
  .nav__item---info::after {
    content: "";
    position: absolute;
    bottom: -120px;
    left: 7px;
    width: 3px;
    height: 60px;
    border-radius: 50%;
    background-color: #C4C4C4;
  }
  .nav__list--desktop {
    z-index: 1;
    background-color: rebeccapurple;
    display: flex;
    justify-content: space-between;
  }
  .nav__list--mobile {
    display: none;
  }
  .menu {
    margin-bottom: 110px;
  }
  .header__lang {
    margin-right: 100px;
  }
  .menu__title {
    position: relative;
    z-index: 4;
  }
  .header__content {
    width: 65%;
    margin-bottom: 0;
    margin-right: 34px;
  }
  .header__content-title {
    width: auto;
  }
  .preview {
    margin-top: 60px;
  }
  .services {
    margin-top: 60px;
  }
  .services__card:hover .services__hover-title {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .services__name-link {
    font-size: 18px;
    padding: 0 20px;
    text-transform: uppercase;
  }
  .services__img {
    max-height: 330px;
    height: 300px;
  }
  .services__hover-title {
    font-size: 1.125rem;
  }
  .services__hover-text:hover::after {
    width: 7px;
    height: 7px;
    right: -10px;
  }
  .services__hover-text {
    font-size: 20px;
    font-weight: 600;
    bottom: 100px;
    left: 75px;
  }
  .services__hover--circle::after, .services__hover--circle::before {
    width: 7px;
    height: 7px;
  }
  .services__hover--circle:hover::after {
    right: -20px;
  }
  .services__hover--circle:hover::before {
    right: -30px;
  }
  .nav__social--desktop-wrap {
    display: block;
    z-index: 2;
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #292b2c;
  }
  .nav__container {
    display: flex;
  }
  .ware__box {
    margin-top: 40px;
  }
  .news__blok:nth-of-type(2) {
    direction: ltr;
  }
  .news__blok:nth-of-type(3) {
    direction: rtl;
  }
  .news__blok {
    width: 50%;
  }
  .s-services {
    margin-top: 0;
  }
  .a-gallery {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-bottom: 50px;
  }
  .a-privilege__box--size {
    width: 30%;
  }
  .a-privilege__card {
    display: flex;
    text-align: start;
    padding: 30px;
  }
  .a-privilege--svg {
    margin-bottom: 40px;
  }
  .a-privilege__text {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .с-header__content {
    padding: 50px;
    padding-bottom: 80px;
  }
  .c-header__content-title {
    font-size: 80px;
  }
  .c-header__content-text {
    font-size: 25px;
  }
  .l-svg {
    margin-bottom: 0;
  }
  .l-characteristic__title {
    font-size: 20px;
  }
  .l-characteristic__text {
    font-size: 17px;
  }
  .l-characteristic__item {
    font-size: 17px;
  }
  .l-price__text {
    font-size: 18px;
  }
  .l-price__item {
    font-size: 16px;
  }
}
@media (min-width: 1248px) {
  body {
    font-size: 24px;
  }
  input {
    height: 50px;
  }
  .header {
    margin-bottom: 0px;
  }
  .container {
    padding: 0 130px;
  }
  .section {
    margin-bottom: 0;
  }
  .nav__item {
    margin-left: 40px;
  }
  .nav__list-social {
    height: 90 0px;
    justify-content: center;
  }
  .header__inner {
    padding: 40px 30px;
  }
  .services__container {
    max-width: 2060px;
  }
  .services__card {
    max-height: 370px;
  }
  iframe {
    height: 500px;
  }
  .info__block {
    width: 24%;
  }
  .ware__card {
    width: 30vw;
    max-width: 570px;
  }
  .ware__img {
    height: 300px;
  }
  .s-header__content {
    margin-top: 50px;
  }
  .l-svg {
    margin-bottom: 0;
  }
}