body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;

  @include mq($from: phablet) {
    font-size: 16px;
  }

  @include mq($from: tablet) {
    font-size: 16px;
  }

  @include mq($from: tablet-wide) {
    font-size: 20px;
  }

  @include mq($from: desktop) {
    font-size: 24px;
  }
}

main {
  z-index: 1;
  background-color: #ffffff;
}

ul {
  list-style: none;
}

img {
  width: auto;
}

.header {
  margin-bottom: 0px;

  @include mq($from: phablet) {
    margin-bottom: 0px;
  }

  @include mq($from: tablet) {
    margin-bottom: 0px;
  }

  @include mq($from: tablet-wide) {
    margin-bottom: 0px;
  }

  @include mq($from: desktop) {
    margin-bottom: 0px;
  }
}

.container {
  margin: 0 auto;
  max-width: map-get($map: $breakpoints, $key: desktop);
  padding: 0 25px;

  @include mq($from: phablet) {
    padding: 0 40px;
  }

  @include mq($from: tablet) {
    padding: 0 30px;
  }

  @include mq($from: tablet-wide) {
    padding: 0 70px;
  }

  @include mq($from: desktop) {
    padding: 0 130px;
  }
}

.section {
  margin-bottom: 0;
  margin-bottom: $section-margin-bottom;

  &--no-margin {
    margin-bottom: 0;
  }

  @include mq($from: phablet) {
    margin-bottom: 0;
  }

  @include mq($from: tablet) {
    margin-bottom: 0;
  }

  @include mq($from: tablet-wide) {
    margin-bottom: 0;
  }

  @include mq($from: desktop) {
    margin-bottom: 0;
  }
}


.lock {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #ffffff;
  
}

.container {
  margin: 0 auto;
  max-width: $max-container-width;
  margin-top: 30px;
}

.section {
  margin-bottom: $section-margin-bottom;

  &--no-margin {
    margin-bottom: 0;
  }
}

.footer {
  margin-top: auto;
}



form {
  display: flex;
  flex-direction: column;
}